$white: white;
$black: black;
$gray: #99a4ae;
$light-gray: #ddd;
$red: red;
$orange: orange;
$yellow: yellow;
$green: green;
$blue: blue;
$dark-blue: #222277;
$indigo: indigo;
$violet: violet;
$link: #0066ff;
// $primary: ;
// $secondary: ;